doctype html
html
  head
    title Your Dance Academy
    block scripts
    block style
  body
  nav#navbar  
    ul 
        div#logo 
            img(src="/static/logo.jpg", alt="Error")
        li #[a(href="/") Home ]
        li #[a(href="/") About Us ]
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info ]
        li #[a(href="/contact") Contact Us]
block content
block footer
    footer#footer
        |    Copyright © 2022 YourDanceAcademy.com | All Right Reserved